body{
	background-color:white;
}

h2{
	margin-top: -30px;
	color: #ffdb4d;
	font-family: kunstler script;
	font-size:30px;
	text-align: center; 
}

.img1{
	text-align: center;
	height: 300px;
	margin-left: 500px;
	margin-right: 500px
}
	
p{
	text-align: center;
	background-color: #f9ebeb;
	font-size: 50px;

}

#menu ul{
	float: left;
	left: 50%;
	position: relative;
	padding-top: 20px;
	margin-left: -90px;
}

#menu ul li{
	text-align: center;
	padding-top: 10px;
	display: inline-block;
	height: 30px;
	width: 100px
	color:#762323;
	font-size: 20px;

}
#menu ul li a {
	margin-top: -40px;
	text-align: center;
	padding-top: 10px;
	color:#762323;
	display: inline-block;
	height: 50px;
	width: 150px;
	background-color:white;
}

#menu ul li a:hover {
	color: white;
	background-color: black;
}

h3{
	color: Black;
	font-size: 30px;
	font-family: kunstler script;
	font-weight: bold;
}


#introduction {
	margin-top: 150px;
	display: block;
	font-family: kunstler script;
	font-size: 32px;
	color: black;

}
#steps{
	font-family: kunstler script;
	font-size: 30px;
	font-weight: bold;

}

.img3{
	width: 250px;
	height: 250px;
	border-radius: 50%;
	float: right;
}

h3{
	text-decoration: underline;
	font-size: 40px;
}

#formulas{
	font-family: kunstler script;
	font-size: 40px; 
}

.img2{
	margin: auto;
	width:60%;
	height:30%;
	
	}

#selection{
	float: right;
	margin-right:200px;
	font-size: 30px;
	font-family: kunstler script;
	margin-top: -350px
}

#footer{
	font-size: 20px;
	margin:300px;
}

#About{
	font-family:kunstler script;
	background-color: white;
	text-align: center;

}

